apiVersion: microcks.github.io/v1alpha1
kind: MicrocksInstall
metadata:
  name: microcks
  namespace: lifecycle
spec:
  name: microcks
  version: 1.8.1
  microcks: 
    url: microcks-lifecycle.apps.{{ domain }}
    replicas: 1
  postman:
    replicas: 1
  keycloak:
    install: false
    realm: microcks
    url: keycloak-lifecycle.apps.{{ domain }}/auth
    serviceAccount: microcks-serviceaccount
    serviceAccountCredentials: ab54d329-e435-41ae-a900-ec6b3fe15c54
  mongodb:
    install: true
    persistent: true
    volumeSize: 2Gi
    storageClassName: managed-nfs-storage
  features:
    microcksHub:
      enabled: true
    repositoryFilter:
      enabled: true
      labelKey: domain
      labelLabel: Domain
      labelList: domain,status
    async:
      enabled: true
      defaultBinding: KAFKA
      defaultFrequency: 3
      kafka:
        install: false
        url: my-cluster-kafka-bootstrap:9092
        schemaRegistry:
          url: https://service-registry.apps.{{ domain }}/api
          confluent: false