---
apiVersion: v1
kind: DeploymentConfig
metadata:
  namespace: {{ utils_project }}
  creationTimestamp: null
  labels:
    app: apicurio-studio
    group: apicurio-studio
    app.kubernetes.io/part-of: apicurio-studio
    app.kubernetes.io/instance: apicurio-studio-api
    app.kubernetes.io/name: apicurio-studio-api
  name: apicurio-studio-api
spec:
  replicas: 1
  selector:
    app: apicurio-studio-api
    deploymentconfig: apicurio-studio-api
  strategy:
    type: Recreate
    recreateParams:
      timeoutSeconds: 600
    resources: {}
    activeDeadlineSeconds: 21600
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: apicurio-studio-api
        deploymentconfig: apicurio-studio-api
        template: apicurio-studio
    spec:
      replicas: 1
      containers:
        - image: api:latest-release
          imagePullPolicy: Always
          name: apicurio-studio-api
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: APICURIO_KC_AUTH_URL
              value: https://keycloak-{{ utils_project }}.apps.{{domain}}/auth
            - name: APICURIO_KC_REALM
              value: apicurio-studio
            - name: APICURIO_KC_CLIENT_ID
              value: apicurio-api
            - name: APICURIO_DB_DRIVER_NAME
              value: postgresql
            - name: APICURIO_DB_CONNECTION_URL
              value: jdbc:postgresql://studio-postgresql:5432/studio
            - name: APICURIO_MICROCKS_API_URL
              value: https://microcks-{{ utils_project }}.apps.{{domain}}/api
            - name: APICURIO_MICROCKS_CLIENT_ID
              value: microcks-serviceaccount
            - name: APICURIO_MICROCKS_CLIENT_SECRET
              value: ab54d329-e435-41ae-a900-ec6b3fe15c54
            - name: APICURIO_HUB_STORAGE_JDBC_TYPE
              value: postgresql9
            - name: APICURIO_DB_USER_NAME
              value: apicurio
            - name: APICURIO_DB_PASSWORD
              value: studio
            - name: APICURIO_MIN_HEAP
              value: 512m
            - name: APICURIO_MAX_HEAP
              value: 1400m
            - name: QUARKUS_OIDC_TLS_VERIFICATION
              value: "none"
          resources:
            limits:
              cpu: 1
              memory: 1700Mi
            requests:
              cpu: 100m
              memory: 800Mi
          livenessProbe:
            httpGet:
              path: /system/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /system/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          terminationMessagePath: /dev/termination-log
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
  triggers:
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - apicurio-studio-api
        from:
          kind: ImageStreamTag
          name: 'api:latest-release'
    - type: ConfigChange
status: {}
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ utils_project }}
  name: apicurio-studio-api
  labels:
    app: apicurio-studio-api
    template: apicurio-studio
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/path: '/system/metrics'
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: apicurio-studio-api
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
---
apiVersion: v1
kind: Route
metadata:
  namespace: {{ utils_project }}
  name: apicurio-studio-api
  labels:
    app: apicurio-studio-api
    template: apicurio-studio
spec:
  to:
    kind: Service
    name: apicurio-studio-api
    weight: 100
  port:
    targetPort: 8080
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Allow
  wildcardPolicy: None