---
apiVersion: v1
kind: DeploymentConfig
metadata:
  namespace: {{ utils_project }}
  labels:
    template: apicurio-studio
    app: apicurio-studio
    group: apicurio-studio
    app.kubernetes.io/part-of: apicurio-studio
    app.kubernetes.io/instance: apicurio-studio-ui
    app.kubernetes.io/name: apicurio-studio-ui
  name: apicurio-studio-ui
spec:
  replicas: 1
  selector:
    app: apicurio-studio-ui
    deploymentconfig: apicurio-studio-ui
  strategy:
    type: Recreate
    recreateParams:
      timeoutSeconds: 600
    resources: {}
    activeDeadlineSeconds: 21600
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: apicurio-studio-ui
        deploymentconfig: apicurio-studio-ui
        template: apicurio-studio
    spec:
      replicas: 1
      containers:
        - image: ui:latest-release
          imagePullPolicy: Always
          name: apicurio-studio-ui
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: APICURIO_OIDC_REDIRECT_HTTPS
              value: "false"
            - name: APICURIO_KC_AUTH_URL
              value: https://keycloak-{{ utils_project }}.apps.{{domain}}/auth
            - name: APICURIO_KC_REALM
              value: apicurio-studio
            - name: APICURIO_KC_CLIENT_ID
              value: apicurio-studio
            - name: APICURIO_UI_HUB_API_URL
              value: https://apicurio-studio-api-{{ utils_project }}.apps.{{domain}}
            - name: APICURIO_UI_EDITING_URL
              value: wss://apicurio-studio-ws-{{ utils_project }}.apps.{{domain}}
            - name: APICURIO_UI_LOGOUT_REDIRECT_URI
              value: /
            - name: APICURIO_UI_FEATURE_MICROCKS
              value: 'true'
            - name: APICURIO_MIN_HEAP
              value: 512m
            - name: APICURIO_MAX_HEAP
              value: 1200m
            - name: QUARKUS_OIDC_TLS_VERIFICATION
              value: "none"
            - name: QUARKUS_CORS_ALLOWED_ORIGINS
              values: "*"
          resources:
            limits:
              cpu: 1
              memory: 1500Mi
            requests:
              cpu: 100m
              memory: 700Mi
          livenessProbe:
            httpGet:
              path: /ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          terminationMessagePath: /dev/termination-log
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
  triggers:
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - apicurio-studio-ui
        from:
          kind: ImageStreamTag
          name: 'ui:latest-release'
    - type: ConfigChange
status: {}
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ utils_project }}
  labels:
    app: apicurio-studio-ui
    template: apicurio-studio
  name: apicurio-studio-ui
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: apicurio-studio-ui
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
---
apiVersion: v1
kind: Route
metadata:
  namespace: {{ utils_project }}
  name: apicurio-studio-ui
  labels:
    app: apicurio-studio-ui
    template: apicurio-studio
spec:
  to:
    kind: Service
    name: apicurio-studio-ui
    weight: 100
  port:
    targetPort: 8080
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Allow
  wildcardPolicy: None