---
apiVersion: v1
kind: ImageStream
metadata:
  name: api
  namespace: {{ utils_project }}
spec:
  tags:
    - name: latest-release
      from:
        kind: DockerImage
        name: quay.io/apicurio/apicurio-studio-api:latest
      importPolicy:
        scheduled: true
---
apiVersion: v1
kind: ImageStream
metadata:
  name: ws
  namespace: {{ utils_project }}
spec:
  tags:
    - name: latest-release
      from:
        kind: DockerImage
        name: quay.io/apicurio/apicurio-studio-ws:latest
      importPolicy:
        scheduled: true
---
apiVersion: v1
kind: ImageStream
metadata:
  name: ui
  namespace: {{ utils_project }}
spec:
  tags:
    - name: latest-release
      from:
        kind: DockerImage
        name: quay.io/apicurio/apicurio-studio-ui:latest
      importPolicy:
        scheduled: true